@font-face {
    font-family: arabic;
    src: url('../fonts/cocon-next-arabic.ttf');
}

.header-container {


    height: 10%;
    background-image: url('../image/back.svg');
    background-size: cover;
    background-position: center;
    min-height: 150vh;

}



.box-sz {

    font-weight: 100;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 2%;
}

.container,
.container-inner {
    margin: 0 auto;
    width: 100%;
}




.container-inner {
    max-width: 100%;

}

.navbar {

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    transition: 0.7s;
    color: #fff;
}


.navbar-brand {

    font-size: 1.8em;
}

.logo {
    width: 10em;
}



.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.container-inner {
    width: 100%;
    max-width: 0 auto;
    font-size: 1.2em;

}

.nav-items-row {

    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    align-items: center;
}

.nav-item {

    font-weight: normal;
    margin: 0 0 0 4%;
}


.navbar a {
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.3s;
    font-weight: 100;
    color: #fff;
}




/* Animation */
.navbar a:hover {
    color: #FF416C;

}

.nav-items-row .nav-link:hover {
    cursor: pointer;
    border-bottom: 3px solid;
    border-radius: 7px;

}

.logo:hover {
    font-size: large;

}

.hero-container {
    display: flex;
    position: absolute;
    margin-top: 15%;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}


.hero-illustation {
    width: 700px;
}

.hero-content {

    width: 350px;
}

.logo-h {
    width: 10px;

}

.logo-h img {
    width: 50px;
    height: 40px;

}

.hero-head {
    box-sizing: border-box;

    text-align: justify;
    text-align: right;
    line-height: 1;
}

.font-weight-light {

    text-transform: capitalize;
    font-weight: 100;
    font-family: arabic;
    color: white;


}

.font-weight-bold {
    text-align: right;
    color: #fff;
    font-family: arabic;
    font-weight: normal;
    font-size: .7em;


}

.par-h {
    display: inline-block;
    text-align: justify;
    text-align: right;
    color: #fff;
    line-height: 1.4;

}

.btn-hh {
    cursor: pointer;
    font-size: var(--fonts-desc);
    font-family: arabic;
    width: clamp(130px, var(--btn-width), var(--btn-width));
    height: 40px;

    border: 1px solid transparent;
    border-radius: 40px;

    background: linear-gradient(to right, #9F19AB, #FF63CE);
    color: white;
}

.btn-h {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background: linear-gradient(to right,#9F19AB,#FF63CE); */
    padding: 2.5px 2px;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
}

.contect-us-h {
    border: 2px solid #FF63CE !important;
    background: transparent !important;

}


.navbar-active  {
    background: #b07cff00;
    backdrop-filter: blur(6px);
    padding: 16px;
    z-index: 100;
  
}



