

.navbar-container{
  width: 40px;
  height: 40px;
  display: none;
}


.menu-items {
 
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

/* .menu-items a:hover {
  color: #79116d;
  transition: color 0.3s ease-in-out;
} */



/* ............//// Showcase styling ////......... */




  
  
  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
   
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    
    height: 23px;
    width: 35px;
    position: absolute;
    
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

   .navbar-container .menu-items {
    transform: translate(-300% ,100%);
    padding-top: 100px;
    background: rgba(249, 235, 235, 0.175) ;
    backdrop-filter: blur(7px) !important;
    border: .0625rem solid #e9ecef;
    height: 50vh;
    max-width: 300px;
    
    display: flex;
    flex-direction: column;
    margin-left: -250px;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
    border-radius: 40px;
  }
  .menu-items .nav-link{
    color:lightpink !important;
    
  }
  .menu-items .nav-item:hover {
    cursor: pointer;
    border: 2px solid palevioletred ;
    border-radius:20px;
    transform: translateY(-12%) !important;
    text-shadow: #000!important;
    transform-style: flat;
    
}
.menu-items-active{
  transition: transform 0.5s ease-in-out!important;
  background: rgba(1, 1, 1, 0.3)!important ;
}
   
   .menu-items li {
    
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 30px !important;
    font-weight: 500;
  }

 

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(-10%);
    transform: translateY(11%);
     
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  


@media (max-width: 500px) {
  html {
    font-size: 65%;
  }

  .navbar .menu-items li{
      font-size: 1.6rem;
  }

  

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }
}

