

body {
    margin: 0;
    font-family: arabic;
    

}



* {
    box-sizing: border-box;
}
html{
    font-family: arabic;
}

ul {
    list-style: none;
    padding: 0;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .3rem
}

