@import url('./header.css');
@import url('./media/media_lg.css');
@import url('./menu.css');

body {

    margin: 0;
    font-family: arabic;


}

:root {
    --fonts-desc: 20px;
    --btn-width: 10%;
    /* --font-size-h1: 35px; */
}

* {
    box-sizing: border-box;
}

html {
    font-family: arabic;
    font-weight: lighter;

}

ul {

    list-style: none;
    padding: 0;
}



h1,
h2,
h3,
h4,
h5,
h6 {

    margin-top: 0;
    margin-bottom: .3rem
}