@import url('/css/hesader.css');

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    

}

html {
      

}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
    font-weight: 500
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.3;
    color: #343a40
}
