@media  (max-width: 1440px) {
    .header-container {
        height: 259vh;

    }

    .nav-container {
        font-size: 22px;
    }

    .hero-content {
        display: inline-block;
        width: 400px;
        font-size: 20px;
    }

    .font-weight-light {
        font-size: 90%;
    }

    .hero-illustation {
        width: 750px;
    }
}

@media (max-width: 1025px) {
    .header-container {
        height: 230vh;

    }

    .hero-content {
        display: inline-block;
        font-size: 17px;
        width: 320px;

    }

    .font-weight-light {
        font-size: 80%;
    }

    .hero-illustation {
        width: 550px;
    }
}

@media (max-width: 412px) {
    .box-sz {
        padding: 20px 20px;
    }

    .hero-container {

        margin-top: 30%;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        width: 100%;
        align-content: center;
        align-items: center;
    }

    .hero-illustation {
        width: 350px;
    }

    .hero-content {
        padding-top: 30px;
        display: inline-block;
        font-size: 17px;
        width: 350px;
    }

    .logo {
        width: 7em;
    }

    .container-inner {

        font-size: .9em;
    }
}
@media (max-width: 1280px) {
    .header-container {
        
        height: 290vh;

    }
}