@media  (max-width: 1800px) {
      
.header-container {
    min-height: 250vh;
}
.footer-container{
    min-height: 170vh;
}

    .nav-container {
        font-size: 160%;
    }

    .hero-content {
        display: inline-block;
        width:50%;
        font-size: 170%;
    }
    .font-weight-light {
        font-size: 90%;
    }

    .hero-illustation {
        width: 50%;
    }
    .btn-hh{
        font-size:100%; 
       width: 70%;
     height: 70px;
     }
}
@media  (max-width: 1280px) {
    .header-container {
        min-height: 370vh;
    }
    .footer-container{
        min-height: 230vh;
    }

    .nav-container {
        font-size: 22px;
    }
    .logo {
        width: 6em;
    }
    .btn-hh{
        font-size: large; 
        width: clamp(150px, var(--btn-width), var(--btn-width));
     height: 30px;
     }

    .hero-content {
        display: inline-block;
        width:40%;
        font-size: 20px;
    }

    .font-weight-light {
        font-size: 90%;
    }

    .hero-illustation {
        width: 55%;
    }
}

@media (max-width: 1050px) {
    
.header-container {
    min-height: 298vh;
}
.footer-container{
    min-height: 190vh;
}

.hero-container {

    margin-top: 25%;
    
}
    .nav-container {
        font-size: 22px;
    }

    .hero-content {
        display: inline-block;
        width:40%;
        font-size: 20px;
    }

    .font-weight-light {
        font-size: 80%;
    }

    .hero-illustation {
        width: 60%;
    }
}
/* @media (max-width: 980px) {
    .header-container {
        
        min-height: 120vh;

    }
    .box-sz {
        padding: 20px 20px;
    }

    .hero-container {

        margin-top: 30%;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        width: 95%;
        align-content: center;
        align-items: center;
    }

    .hero-illustation {
        width: 90%;
    }

    .hero-content {
        padding-top: 30px;
        display: inline-block;
        font-size: 30px;
        width: 80%;
    }

    .logo {
        width: 7em;
    }

    .container-inner {

        font-size: 100%;
    }
} */
@media (max-width: 980px) {
    
.header-container {
    min-height: 370vh;
}
.footer-container{
    min-height: 250vh;
}
    .box-sz {
        padding: 20px 20px;
    }

    .hero-container {

        margin-top: 10%;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        width: 95%;
        align-content: center;
        align-items: center;
    }

    .hero-illustation {
        width: 60%;
    }

    .hero-content {
        padding-top: 30px;
        display: inline-block;
        font-size: 20px;
        width: 50%;
    }

    .logo {
        width: 7em;
    }

    .container-inner {

        font-size: 100%;
    }
}

@media (max-width: 800px) {
    .box-sz {
        padding: 10px 10px;
    }

.header-container {
    min-height: 370vh;
}
.footer-container{
    min-height:250vh;
}
    
    .hero-container {

        margin-top: 10%;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        width: 100%;
        align-content: center;
        align-items: center;
    }


    .hero-content {
        display: inline-block;
        font-size: 12px;
        width: 100%;

    }

    .font-weight-light {
        font-size: 80%;
    }

    .hero-illustation {
        width: 45%;
    }

    .container-inner{
        display: none;
    }
    
    .navbar-container{
        display: block !important;
      }
      .logo {
        width: 3em;
    }
    .btn-hh{
        font-size: small; 
        width: clamp(100px, var(--btn-width), var(--btn-width));
     height: 30px;
     }


      :root{
        --hight-menu-btn :20px !important;
        --width-menu-btn :20px !important;
      }


    .navbar-container input[type="checkbox"] {
        height: var(--hight-menu-btn);
        width: var(--width-menu-btn);
    }
    .navbar-container .hamburger-lines {
    
        height: var(--hight-menu-btn);
        width: var(--width-menu-btn);
    }
    .menu-items{
        padding-top: 10px !important;
        padding-bottom: 20px !important;
        height: 45vh!important;
        font-size: 10px !important;
        margin-top: 50px !important;
    }
   .menu-items .nav-link{
        font-size: large!important;
    }
    .menu-items .nav-item{
        margin: 0 !important;
        
    }
    
}
@media (max-width: 600px) {
    
.header-container {
    min-height: 169vh;
}
.footer-container{
    min-height:110vh;
}

    .hero-content {
        display: inline-block;
        font-size: 17px;
        width: 320px;

    }

    .font-weight-light {
        font-size: 80%;
    }

    .hero-illustation {
        width: 350px;
    }
    
}

@media (max-width: 480px) {
    .box-sz {
        padding: 20px 20px;
    }
    .header-container {
        min-height: 118vh;
    }
    .footer-container{
        min-height: 76vh;
    }

    .hero-container {

        margin-top: 10%;
       
        
    }

    .hero-illustation {
        width: 55%;
    }

    .hero-content {
        padding-top: 10px;
        display: inline-block;
        font-size: 11px;
        width: 75%;
    }
    .logo-h img {
        width: 20px;
        height: 30px;
    }
    .btn-hh{
        font-size: small; 
       
     height: 25px;
     }
    .logo {
        width: 5em;
    }

    .container-inner {

        font-size: .7em;
    }
}

@media (max-width:412px) {


    :root{
        --hight-menu-btn :20px !important;
        --width-menu-btn :20px !important;
      }
      
    .header-container {
        min-height: 105vh;
    }
    .footer-container{
        min-height: 66vh;
    }
    .hero-container{
        margin-top: 10%;
    }
    .hero-illustation {
        width: 50%;
        
    }
    .hero-content {
        padding-top: 2px;
        display: inline-block;
        font-size: 10px;
        width: 60%;
    }
    .btn-hh{
       font-size: small; 
      
    height: 25px;
    }
    .logo-h img {
        width: 30px;
        height: 30px;
    }

    .logo {
        width: 4em;
    }

    .container-inner {

        font-size: .9em;
    }

   
    .navbar-container input[type="checkbox"] {
        height: var(--hight-menu-btn);
        width: var(--width-menu-btn);
    }
    .navbar-container .hamburger-lines {
    
        height: var(--hight-menu-btn);
        width: var(--width-menu-btn);
    }
    .menu-items{
        padding-top: 10px !important;
        padding-bottom: 20px !important;
        height: 25vh!important;
        font-size: 10px !important;
        margin-top: 50px !important;
    }
   .menu-items .nav-link{
        font-size: large!important;
    }
    .menu-items .nav-item{
        margin: 0 !important;
        
    }
}

@media (max-width:300px) {


    
      
    .header-container {
        min-height: 78vh;
    }
    .footer-container{
        min-height: 50vh;
    }
    .hero-container{
        margin-top: 10%;
    }
    .hero-illustation {
        display: none;
    }
    .hero-content {
        padding-top: 14px;
        display: inline-block;
        font-size: 10px;
        width: 100%;
    }
    .btn-hh{
       font-size: small; 
       width: clamp(100px, var(--btn-width), var(--btn-width));
    height: 30px;
    }
    .logo-h img {
        width: 30px;
        height: 20px;
    }

    .logo {
        width: 4em;
    }

    .container-inner {

        font-size: .9em;
    }

   
    :root{
        --hight-menu-btn :20px !important;
        --width-menu-btn :20px !important;
      }


    .navbar-container input[type="checkbox"] {
        height: var(--hight-menu-btn);
        width: var(--width-menu-btn);
    }
    .navbar-container .hamburger-lines {
    
        height: var(--hight-menu-btn);
        width: var(--width-menu-btn);
    }
    .menu-items{
        padding-top: 10px !important;
        padding-bottom: 20px !important;
        height: 25vh!important;
        font-size: 10px !important;
        margin-top: 50px !important;
    }
   .menu-items .nav-link{
        font-size: large!important;
    }
    .menu-items .nav-item{
        margin: 0 !important;
        
    }
}
