@media  (max-width: 1800px) {
    .header-container {
        
        min-height: 200vh;
    }

    .nav-container {
        font-size: 22px;
    }

    .hero-content {
        display: inline-block;
        width: 400px;
        font-size: 20px;
    }

    .font-weight-light {
        font-size: 90%;
    }

    .hero-illustation {
        width: 60%;
    }
}
@media  (max-width: 1280px) {
    .header-container {
        
        min-height: 200vh;
    }

    .nav-container {
        font-size: 22px;
    }

    .hero-content {
        display: inline-block;
        width:40%;
        font-size: 20px;
    }

    .font-weight-light {
        font-size: 90%;
    }

    .hero-illustation {
        width: 55%;
    }
}

@media (max-width: 1070px) {
    .header-container {
        
        min-height: 300vh;

    }
    .box-sz {
        padding: 20px 20px;
    }

    .hero-container {

        margin-top: 30%;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        width: 95%;
        align-content: center;
        align-items: center;
    }

    .hero-illustation {
        width: 90%;
    }

    .hero-content {
        padding-top: 30px;
        display: inline-block;
        font-size: 30px;
        width: 80%;
    }

    .logo {
        width: 7em;
    }

    .container-inner {

        font-size: 100%;
    }
}

@media (max-width: 800px) {
    .header-container {
        
        min-height: 190vh;
    }
    .hero-container {

        margin-top: 10%;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        width: 100%;
        align-content: center;
        align-items: center;
    }


    .hero-content {
        display: inline-block;
        font-size: 17px;
        width: 470px;

    }

    .font-weight-light {
        font-size: 80%;
    }

    .hero-illustation {
        width: 450px;
    }
}
@media (max-width: 600px) {
    .header-container {
        
        min-height: 150vh;
    }

    .hero-content {
        display: inline-block;
        font-size: 17px;
        width: 320px;

    }

    .font-weight-light {
        font-size: 80%;
    }

    .hero-illustation {
        width: 350px;
    }
}

@media (max-width: 412px) {
    .box-sz {
        padding: 20px 20px;
    }

    .hero-container {

        margin-top: 30%;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        width: 100%;
        align-content: center;
        align-items: center;
    }

    .hero-illustation {
        width: 350px;
    }

    .hero-content {
        padding-top: 30px;
        display: inline-block;
        font-size: 17px;
        width: 350px;
    }

    .logo {
        width: 7em;
    }

    .container-inner {

        font-size: .9em;
    }
}
@media (max-width: 450px) {
    .box-sz {
        padding: 20px 20px;
    }

    .hero-container {

        margin-top: 30%;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        width: 100%;
        align-content: center;
        align-items: center;
    }

    .hero-illustation {
        width: 95%;
    }

    .hero-content {
        padding-top: 30px;
        display: inline-block;
        font-size: 17px;
        width: 95%;
    }

    .logo {
        width: 7em;
    }

    .container-inner {

        font-size: .9em;
    }
}
@media (max-width:370px) {
    .box-sz {
        padding: 20px 20px;
    }

    

    .hero-illustation {
        width: 80%;
    }

    .hero-content {
        padding-top: 30px;
        display: inline-block;
        font-size: 17px;
        width: 100%;
    }

    .logo {
        width: 7em;
    }

    .container-inner {

        font-size: .9em;
    }
}
